/* Estilos Generales */
:root {
  --n-01: #2D2D2D;
  --g-01: #757677;
  --g-02: #BCBEBE;
  --g-03: #EBECEC;
  --g-04: #F0F0F5;
  --b-01: #FFFFFF;
  --a-01: #114357;
  --a-02: #286781;
  --a-03:#4DADBC;
  --c-01: #C5DADE;
  --c-02: #E6EEEF;
  --error: #DF2020;
  --warning: #FFB700;
  --info: #1A58DD;
  --success: #06C170;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--a-01);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
}

main {
  min-height: calc(100vh - 82px);
}

hr {
  background-color: var(--a-01);
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

small {
  font-size: 0.75rem;
  line-height: 1rem;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Colors */
.success-color {
  color: var(--success);
}

.disabled-color {
  color: var(--g-02);
}
/* End colors */

/* Font weight */

.fw-sb {
  font-weight: 500;
}

.fw-b {
  font-weight: 700;
}

/*End Font weight */

/* bg colors */
.bg-cear {
  background-color: var(--c-02);
}

.bg-light{
  background-color: var(--b-01) !important;
}
/* end bg colors */

/* Margins */
.marginBottom-0-5 {
  margin-bottom: .5rem !important;
}

.marginBottom-1 {
  margin-bottom: 1rem !important;
}

.marginBottom-1-5 {
  margin-bottom: 1.5rem !important;
}

.marginBottom-2 {
  margin-bottom: 2rem !important;
}

.marginBottom-2-5 {
  margin-bottom: 2.5rem !important;
}


.marginBottom-3 {
  margin-bottom: 3rem !important;
}

.marginBottom-3-5 {
  margin-bottom: 3.5rem !important;
}

.marginBottom-4 {
  margin-bottom: 4rem !important;
}

.marginBottom-4-5 {
  margin-bottom: 4.5rem;
}

.marginTop-0-5 {
  margin-top: .5rem !important;
}

.marginTop-1 {
  margin-top: 1rem !important;
}

.marginTop-1-5 {
  margin-top: 1.5rem !important;
}

.marginTop-2 {
  margin-top: 2rem !important;
}

.marginTop-2-5 {
  margin-top: 2.5rem !important;
}

.marginTop-3 {
  margin-top: 3rem !important;
}

.marginTop-3-5 {
  margin-top: 3.5rem !important;
}

.marginTop-4 {
  margin-top: 4rem !important;
}

.marginTop-4-5 {
  margin-top: 4.5rem;
}

.marginRight-0-5 {
  margin-right: .5rem !important;
}

.marginRight-1 {
  margin-right: 1rem !important;
}

/* End Margins */

/* Paddings */
.paddingTop-1 {
  padding-top: 1rem;
}

.paddingTop-2 {
  padding-top: 2rem;
}

.paddingTop-3 {
  padding-top: 3rem;
}
/* End Paddings */

/* Buttons */
.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

.btn-large {
  padding: .75rem 3rem;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
}

.btn-icon span {
  font-size: 1.2rem
}

.btn-icon-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-img {
  display: flex;
  align-items: center;
}

.btn-img-left img {
  /* background-color: yellow; */
  display: block;
  height: 2rem;
}

.primary-button {
  background-color: var(--a-02);
  color: var(--g-03);
}

.primary-button:hover {
  background-color: var(--a-01);
  color: var(--g-03);
}

.primary-button:focus {
  background-color: var(--b-01);
  color: var(--a-01);
  border-color: 1px solid var(--success);
}

.primary-button.disabled {
  background-color: var(--g-02);
  color: var(--b-01);
  opacity: 1;
}

.btn-circle {
  border-radius: 100px;
  padding: .75rem;
}

.link-button {
  /* background-color: salmon; */
  color: var(--a-02);
  padding: 0.5rem  0;
  text-decoration: underline;
  font-weight: 600;
}

.link-button:hover {
  color: var(--a-01);
  text-decoration: underline;
}

.link-button:focus {
  color: var(--a-01);
  text-decoration: underline;
}

.link-button.disabled {
  color: var(--g-02);
  text-decoration: underline;
}

.link-button-danger {
  /* background-color: salmon; */
  color: var(--error);
  padding: 0.5rem  0;
  text-decoration: underline;
  font-weight: 600;
}

.link-button-danger:hover {
  color: var(--error);
  text-decoration: underline;
}

.link-button-danger:focus {
  color: var(--error);
  text-decoration: underline;
}

.link-button-danger.disabled {
  color: var(--g-02);
  text-decoration: underline;
}

.light-button {
  color: var(--n-01);
}

.light-button:hover {
  color: var(--n-01);
  background-color: var(--g-03);
}

.btn-light:focus, .btn-light.focus {
  color: var(--n-01);
  background-color: var(--g-03);
  border-color: var(--g-03);
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  background-color: var(--g-02);
  color: var(--b-01);
  opacity: 1;
}

.btn-outline {
  border: 1px solid var(--a-02);
  color: var(--a-02);
}

.btn-outline:hover {
  border: 1px solid var(--a-02);
  color: var(--a-02);
}
/* End Buttons */

.show {
  display: block;
}

.hide {
  display: none;
}

.form-check-input:checked {
  background-color: var(--a-02);
  border-color: var(--a-02);
}

.form-check-input:focus {
  border-color: var(--a-02);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(17, 67, 87, 0.25);
}

.form-check-label {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Fin Estilos Generales */

/* main -------------------- */

.main-login {
  /* background-color: palegreen; */
  min-height: 100vh;
}

/* img login */

.wrap-img-login {
  /* background-color: var(--info); */
  background-image: url(../img/bg/bg-login.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Fin img login */

/* form-login */

.wrap-form-login {
  /* background-color: var(--info); */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--a-01);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form-login {
  background-color: var(--b-01);
  min-width: 480px;
  padding: 3.5rem;
  border-radius: .25rem;
  box-shadow: 0px 4px 8px rgba(45, 45, 45, 0.16);
}

.form-title {
  /* background-color: lavender; */
  text-align: center;
}

.field-icon {
  background-color: var(--b-01);
  cursor: pointer;
  float: right;
  margin-left: -2rem;
  margin-top: -2.2rem;
  margin-right: 1rem;
  position: relative;
  z-index: 2;
  color: var(--a-01);
}

.form-login .logo {
  /* background-color: lavender; */
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.form-login .logo img {
  width: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.form-label {
  color: var(--a-01);
}

.form-control, .form-select {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--a-02);
  background-color: var(--b-01);
  background-clip: padding-box;
  border: 1px solid var(--g-02);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:hover, .form-select:hover {
  box-shadow: 0px 4px 8px rgba(45, 45, 45, 0.16);
}

.form-control:focus, .form-select:focus {
  box-shadow: inset 0 0 0 2px var(--a-02);
  outline: 0;
  color: var(--a-01);
}

.search-input {
  position: relative;
}

.search-input .form-control::placeholder {
  color: var(--a-02);
}

.search-input .btn {
  /* background-color: lavender; */
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  color: var(--a-02);
}
/* fin form login */


.form-control:disabled {
  opacity: .5;
}

.text-help {
  color: var(--error);
  display: flex;
  align-items: center;
  padding-top: .25rem;
  display: none;
}

.text-help .material-icons {
  margin-right: .5rem;
}

.error-input .form-control, .error-input .form-select {
  box-shadow: inset 0 0 0 2px var(--error);
  outline: 0;
  color: var(--error);
}

.content-case-controls {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  background-color: var(--b-01);
}

.table > :not(:first-child) {
  /* border-top: 2px solid currentColor; */
  border-top: none;
}

.table thead tr th {
  background-color: var(--g-03);
  vertical-align: middle;
  padding: 1rem;
}

.table tbody th, .table tbody td, .table thead th {
  /* background-color: pink; */
  vertical-align: middle;
  padding: .5rem 1rem;
}

.tag-status {
  /* background-color: lavender; */
  display: flex;
  align-items: center;
}

.status-danger {
  background-color: var(--error);
  display: block;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  margin-right: .5rem;
}

/* fin Main */

/* Modal Contraseña olvidada */
  .modal-dialog {
    border-radius: .5rem;
    overflow: hidden;
  }

  .btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: var(--a-01);
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
  }
  .btn-close:hover {
    color: var(--a-01);
    text-decoration: none;
    opacity: 0.75;
  }
  .btn-close:focus {
    outline: 0;
    box-shadow: none;
    opacity: 1;
  }

  .modal-header {
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .modal-header, .modal-footer {
    border: none;
  }

  .modal-body {
    /* background-color: pink; */
    color: var(--a-01);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    padding-bottom: 1.5rem;
  }

  .modal-subtitle {
    text-align: center;
    font-size: 1.5rem;
  }

  .modal-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
  }

  .modalInfo .iconModal {
    font-size: 2rem;
  }

  .modal .form-group {
    text-align: left;
  }

/* Fin modal contraseña olvidada */

/* modal arbitro elegido */
.card-lawyer-elected {
  background-color: var(--g-03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-align: left;
  border-radius: .25rem;
  margin-bottom: .5rem;
}

.card-lawyer-elected .name-lawyer {
  font-weight: 600;
  margin-bottom: .5rem;
}

.card-lawyer-elected .user-img {
  min-width: 5rem;
  min-height: 5rem;
  max-width: 5rem;
  max-height: 5rem;
  overflow: hidden;
  border-radius: 50%;
}

.card-lawyer-elected .user-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-especialidad {
  background-color: var(--g-03);
  border-radius: .25rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: .5rem;
}

.card-especialidad .material-icons {
  color: var(--success);
}

/* Fin modal arbitro elegido */

/* Modal Caso creado */
.content-icon-modal {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.content-icon-modal span {
  font-size: 2rem;
}

.card-case {
  background-color: var(--g-03);
  border-radius: .25rem;
  padding: 1rem;
  text-align: center;
}

.name-case {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card-case p {
  font-size: 1.5rem;
}

.card-sorteo {
  background-color: var(--g-03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: 600;
  margin-bottom: .5rem;
  border-radius: .5rem;
}

.card-sorteo span {
  color: var(--success);
}
/* Fin modal caso creado */

/* SISTEMA ALEATORIO */
/* Stepper tabs */
.nav-pills-stepper {
  /* background-color: pink; */
  padding-right: 12px;
  padding-left: 12px;
  display: flex;
  justify-content:center;
}

.nav-pills-stepper .nav-item {
  /* background-color: yellow; */
  width: 2rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.nav-pills-stepper .nav-link {
  color: var(--g-02);
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 1rem 0;
}

.step-position {
  background-color: var(--g-02);
  color: var(--b-01);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-pills-stepper .nav-link.active,
.nav-pills-stepper .show > .nav-link {
  color: var(--a-02);
  background-color: var(--c-02);
  border-bottom: solid 2px var(--a-01);
}

.nav-pills-stepper .nav-link.active .step-position {
  background-color: var(--a-02);
}

.nav-pills .nav-link {
  border-radius: 0;
  height: 100%;
}

.nav-pills-stepper .nav-link:hover .step-position {
  background-color: var(--a-01);
}

.nav-pills-stepper .nav-link:hover {
  color: var(--a-01);
}

/* estilo del paso completado */
.nav-pills-stepper .nav-link.completed .step-position {
  background-color: var(--a-01);
}

.nav-pills-stepper .nav-link.completed {
  color: var(--a-01);
}

/* fin del estilo del paso completado */

.tab-content-stepper {
  /* background-color: lavender; */
}

.title-stepper {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  text-align: center;
}

.footer-stepper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.footer-stepper .btn:first-child {
  margin-bottom: 1rem;
}

/* Fin stepper tab */



/* Grid cards abogados */
.grid-container-abogados {
  /* background-color: pink; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.grid-container-abogados .item {
  /* height: 14rem; */
}

.card-lawyer {
  background-color: var(--a-03);
  border-radius: .25rem;
  padding: .5rem;
  display: flex;
  align-items: center;
}

.card-lawyer.selected {
  background-color: var(--b-01);
}

.card-lawyer.selected .info-user .name-lawyer {
  color: var(--a-02);
}

.card-lawyer .user-img {
  min-height: 2.5rem;
  min-width: 2.5rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.card-lawyer .user-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-lawyer .info-user .name-lawyer {
  color: var(--g-03);
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content-card-lawyer-selected {
  display: flex;
  align-items: center;
}

.card-lawyer-selected {
  display: flex;
  justify-content: space-between;
  background-color: var(--b-01);
  border: 1px solid var(--a-02);
}

.content-card-lawyer-selected .info-user .name-lawyer {
  color: var(--a-02);
}

.content-card-lawyer-selected .info-user .type-lawyer {
  color: var(--a-02);
}

.card-lawyer-selected .btn {
  color: var(--a-02);
  display: flex;
  align-items: center;
}
/* Fin grid cards abogados */

.content-chosen {
  border-top: 1px solid var(--a-02);
  padding-top: 2rem;
}

.card-lawyer-skills {
  background-color: var(--b-01);
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: .5rem;
  box-shadow: 0px 4px 8px rgba(45, 45, 45, 0.16);
}

.wrap-info-lawyer {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap-info-lawyer .user-img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.wrap-info-lawyer .user-img img {
  height: 100%;
  width: 100%;
}

.card-lawyer-type .type {
  font-weight: 500;
}

.wrap-especialidades .card-especialidad {
  padding: 0;
  margin-bottom: 1rem;
}

.case-info {
  margin-bottom: 1.5rem;
}

.case-info .case-name {
  font-weight: 600;
}

.hgroup-title-stepper {
  margin-bottom: 3.5rem;
  text-align: center;
}

.hgroup-title-stepper .title-stepper {
  margin-bottom: .5rem;
}

.subtitle-stepper {
  font-size: 1.5rem;
  font-weight: 400;
}

.content-referee .referee-type {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
}

/* FIN SISTEMA ALEATORIO */

/* DISCLAIMER */
.navbar-cear {
  background-color: var(--a-02);
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navbar-cear .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand img {
  height: 2.5rem;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.navbar-cear .btn-user {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 0;
  color: var(--b-01);
  font-weight: 400;
}

.navbar-cear .btn-user .material-icons {
  margin-left: 1rem;
}

.content-disclaimer {
  max-width: 640px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
/* END DISCLAIMER */

#content-resumen {
  display: none;
}

/* LOADER */

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: rgba(197, 218, 222, .9);
  width:100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1055;
  display: none;
}

.loader img {
  margin-bottom: 1rem;
  height: 8rem;
  width: 8rem;
}

.loader span {
  font-size: 1.5rem;
}
/* END LOADER */

/* ADMIN STYLES */

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* navbar admin */
.navbar-cear-menu {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  width: 250px;
}

.navbar-cear-menu .btn {
  /* background-color: yellow; */
  margin-right: 1rem;
  color: var(--g-03);
}

.navbar-cear-menu .btn:hover {
  background-color: var(--a-01);
}

/* end navbar menu */

/* Sidebar */
.sidebar-admin {
  background-color: var(--g-03);
  width: 250px;
  min-height: calc(100vh - 74px);
  position: fixed;
  left: 0;
  transition: all 150ms linear;
}

.sidebar-admin.active {
  left: -250px;
}

.sidebar-admin-list .btn {
  /* background-color: lightgreen; */
  width: 100%;
  border-bottom: 1px solid var(--g-02);
  text-align: left;
}

.sidebar-admin-list .btn:hover  {
  background-color: var(--g-02);
}

.sidebar-admin-list .btn:focus  {
  background-color: var(--g-02);
}

.active-item-sidebar {
  background-color: var(--g-02);
}

.sidebar-admin-list {
  list-style: none;
  padding-left: 0;
}

.sidebar-admin-list .item-sidebar {
  border-bottom: 1px solid var(--g-02);
}

.sidebar-list-collapse {
  background-color: var(--b-01);
  list-style: none;
  padding-left: 0;
}

.item-collapse {
  /* background-color: pink; */
  text-decoration: none;
  display: block;
  padding: .75rem .75rem .75rem 2rem;
  /* margin-bottom: .5rem; */
  color: var(--n-01);
}

.item-collapse:hover {
  background-color: var(--c-01);
  color: var(--n-01);
}

.item-collapse:focus {
  font-weight: 600;
}

/* End sidebar */

/* Main panel admin */
.admin-panel {
  /* background-color: lavender; */
  padding: 2rem;
  margin-top:  74px;
  min-height: calc(100vh - 74px);
}

.ml-panel {
  margin-left: 250px;
  transition: all 150ms linear;
}

.ml-panel-0 {
  margin-left: 0px;
  transition: all 150ms linear;
}

.panel {
  display: none;
}

.active-panel {
  display: block;
}
/* end main panel admin */

/* content panels */
.wrap-header-panel {
  /* background-color: lavender; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap-header-panel .header-panel {
  margin-bottom: 0;
}

.header-panel {
  /* background-color: pink; */
  margin-bottom: 2rem;
  color: var(--n-01);
}

.header-panel .title-panel {
  /* background-color: yellow; */
  display: block;
  margin-bottom: .5rem;
}

.header-panel h2 {
  font-weight: 600;
}

.wrap-controls-admin {
  /* background-color: yellowgreen; */

}

.content-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-label-admin {
  font-weight: 600;
  margin-bottom: .5rem;
}
/* end content panels */

/* Accordion */
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: var(--a-01);
  font-weight: 600;
  text-align: left;
  background-color: var(--b-01);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--a-01);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(40, 103, 129, 0.25);
  background-color: var(--b-01);
}

.accordion-button:not(.collapsed) {
  color: var(--a-01);
  background-color: var(--b-01);
  box-shadow: 0 0 0 0.25rem rgba(40, 103, 129, 0.25);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../fonts/icons/chevron-down-outline.svg");
  transform: rotate(-180deg);
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
  content: "";
  background-image: url("../fonts/icons/chevron-down-outline.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.content-accordion-btn {
  /* background-color: pink; */
  display:flex;
  align-items: center;
}

.accordion-step {
  background-color: var(--g-04);
  display: block;
  height: 2rem;
  width: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2rem;
  margin-right: .5rem;
  border-radius: 50%;
}
/* End Accordion */

.content-btns-controls-panel {
  display: flex;
  justify-content: flex-end;
}

.content-btns-controls-panel .link-button {
  margin-right: 1.5rem;
}

  /* Upload images product */

.wrap-img-preview {
  /* background-color: lavender; */
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.imageWrapper {
  background-color: var(--bg-content);
  /* background-image: url(../img/products/product-default.svg); */
  border: 1px solid var(--g-02);
  width: 8rem;
  height: 8rem;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper img {
  width: 90%;
  border-radius: .25rem;
}

.content-info-upload-img {
 /* background-color: yellow; */
 margin-left: 1rem;
}

.label-upload-img {
  font-size: .75rem;
  margin-bottom: .5rem;
}

.file-upload {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 200px;
  text-align: left;
  padding-left: 0;
  background: transparent;
  display: flex;
  align-items: center;
}

.file-upload img {
  margin-right: .5rem;
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
}

.textHelp-fileInput {
  font-size: .75rem;
  padding-top: .5rem;
  color: var(--g-01);
}

  /* End upload images product */

/* Drag & Drop */
.dragDropContent {
  /* background-color: pink; */
  border-radius: 1rem;
}
.Form_control {
  position: relative;
}
.Form__label {
  cursor: pointer;
  display: flex;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px dashed var(--a-02);
  flex-direction: column;
  align-items: center;
}
.Form__label i {
  font-size: 5rem;
  color: var(--a-02);
  margin-bottom: 0.75rem;
}

.Form__label span {
  color: #ababab;
  text-align: center;
}

.Form__input {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

/* End Drag & Drop */

.content-cases-attended {
  padding-left: 0;
}

.tag-primary {
  background-color: var(--a-03);
  color: var(--b-01);
  padding: .25rem .5rem;
  border-radius: .25rem;
  margin-left: 1.25rem;
}

.content-btn-right {
  /* background-color: pink; */
  display: flex;
  justify-content: flex-end;
}

.fieldset-profesion {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.wrap-sorteo-estado {
  /* background-color: lavender; */
  margin-bottom: .5rem;
}

.header-sorteo-estado {
  display: flex;
  align-items: center;
  margin-bottom: .25rem;
}

.header-sorteo-estado span {
  margin-right: .5rem;
}

.body-sorteo-estado {
  margin-left: 2rem;
}

/* Accordion Collapse */
.accordionCollapse .accordion-button:focus {
  z-index: 3;
  border-color: var(--a-01);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--white);
  background-color: var(--b-01);
}

.accordionCollapse .accordion-button:not(.collapsed) {
  color: var(--a-01);
  background-color: var(--b-01);
  box-shadow: 0 0 0 0.25rem var(--white);
}

.accordionCollapse .accordion-button {
  /* background-color: lightblue !important; */
  padding: .25rem 0;
}

.accordionCollapse .accordion-body {
  padding: .5rem 0 0 0;
}

.accordionCollapse .accordion-item {
  border: none;
}
/* End Accordion Collapse */

.textCenter {
  /* background-color: pink; */
  display: block;
  text-align: center;
}
/* END ADMIN STYLES */
