/* Estilos Generales */
:root {
  --dark: #14142B;
  --dark-light: #4E4B66;
  --gray: #6E7191;
  --gray-medium: #A0A3BD;
  --gray-light: #EFF0F6;
  --smoke: #E2E2E2;
  --smoke-light: #EFEFEF;
  --white: #FCFCFC;
  --primary: #FFCE00;
  --primary-dark: #E6B800;
  --primary-light: #FAE27B;
  --danger: #EB0046;
  --danger-dark: #A20F1D;
  --danger-light: #F8D7DA;
  --info: #057BA6;
  --info-dark: #041E49;
  --info-light: #C2E7FF;
  --warning: #FF9033;
  --warning-dark: #6B3003;
  --warning-light: #FFCF92;
  --success: #36AE7C;
  --success-dark: #094B28;
  --success-light: #C1F8CF;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--dark);
  font-family: 'Poppins', sans-serif;
  line-height: normal;
  font-weight: 400;
}

main {
  /* background-color: pink; */
  min-height: 100vh;
}

hr {
  background-color: var(--dark);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.body-bold {
  font-size: 1rem;
  font-weight: 700;
}

.body-semibold {
  font-size: 1rem;
  font-weight: 600;
}

.body-medium {
  font-size: 1rem;
  font-weight: 500;
}

.small-bold {
  font-size: .75rem;
  font-weight: 700;
}

.small-semibold {
  font-size: .75rem;
  font-weight: 600;
}

.small-regular {
  font-size: .75rem;
  font-weight: 400;
}

/* Margins */
.marginBottom-0-5 {
  margin-bottom: .5rem !important;
}

.marginBottom-1 {
  margin-bottom: 1rem !important;
}

.marginBottom-1-5 {
  margin-bottom: 1.5rem !important;
}

.marginBottom-2 {
  margin-bottom: 2rem !important;
}

.marginBottom-2-5 {
  margin-bottom: 2.5rem !important;
}


.marginBottom-3 {
  margin-bottom: 3rem !important;
}

.marginBottom-3-5 {
  margin-bottom: 3.5rem !important;
}

.marginBottom-4 {
  margin-bottom: 4rem !important;
}

.marginBottom-4-5 {
  margin-bottom: 4.5rem;
}

.marginTop-0-5 {
  margin-top: .5rem !important;
}

.marginTop-1 {
  margin-top: 1rem !important;
}

.marginTop-1-5 {
  margin-top: 1.5rem !important;
}

.marginTop-2 {
  margin-top: 2rem !important;
}

.marginTop-2-5 {
  margin-top: 2.5rem !important;
}

.marginTop-3 {
  margin-top: 3rem !important;
}

.marginTop-3-5 {
  margin-top: 3.5rem !important;
}

.marginTop-4 {
  margin-top: 4rem !important;
}

.marginTop-4-5 {
  margin-top: 4.5rem;
}

.marginRight-0-5 {
  margin-right: .5rem !important;
}

.marginRight-1 {
  margin-right: 1rem !important;
}

/* End Margins */

/* Paddings */
.paddingTop-1 {
  padding-top: 1rem;
}

.paddingTop-2 {
  padding-top: 2rem;
}

.paddingTop-3 {
  padding-top: 3rem;
}
/* End Paddings */

/* Colors */
.primary-color {
  var(--primary);
}
/* End Colors */

/* Buttons */
.btn {
  display: inline-block;
  font-weight: 500;
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-large {
  padding: .75rem 3rem;
}

.button-block {
  display: block;
  width: 100%;
}

.button-primary {
  background-color: var(--primary);
  color: var(--dark);
}

.button-primary:hover {
  background-color: var(--dark);
  color: var(--primary);
}

.button-primary:focus {
  background-color: var(--primary);
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-link {
  /* background-color: salmon; */
  color: var(--info);
  padding: 0.5rem  0;
}

.button-link:hover {
  color: var(--info);
  text-decoration: underline;
}

.button-link:focus {
  color: var(--info-dark);
  text-decoration: underline;
  box-shadow: none;
}

.button-outline {
  background-color: var(--white);
  background-color: none;
  color: var(--dark);
  border-color: 1px solid var(--dark);
}

.button-outline:hover {
  background-color: var(--dark);
  color: var(--white);
}

.button-outline:focus {
  background-color: none;
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-ghost {
  background-color: none;
  color: var(--dark);
}

.button-ghost:hover {
  background-color: var(--smoke-light);
  color: var(--dark);
}

.button-ghost:focus {
  background-color: none;
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-rounded {
  background-color: none;
  color: var(--gray);
  border-color: 1px solid var(--gray-medium);
  border-radius: 4rem;
}

.button-rounded:hover {
  background-color: var(--gray-light);
  color: var(--gray);
}

.button-rounded:focus {
  background-color: none;
  color: var(--gray);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-icon {
  color: var(--dark);
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon:hover {
  color: var(--dark);
  background-color: var(--gray-light);
}

.button-icon:focus {
  color: var(--dark);
  background-color: none;
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-circle {
  background-color: var(--primary);
  border-radius: 100%;
  min-height: 2.5rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
  min-width: 2.5rem;
  font-size: 1rem;
}

.button-circle:hover {
  background-color: var(--dark);
  color: var(--white)
}

.button-circle:focus {
  background-color: var(--primary);
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-outline-icon {
  background-color: var(--white);
  color: var(--dark);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-color: 1px solid var(--dark);
}

.button-outline-icon span {
  margin-right: .5rem;
}

.button-outline-icon:hover {
  background-color: var(--dark);
  color: var(--white);
}

.button-outline-icon:focus,.button-outline-icon:active  {
  background-color: var(--white);
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

/* End Buttons */

.show {
  display: block;
}

.hide {
  display: none;
}

.text-help {
  color: var(--danger);
  display: none;
}

/*OCULTAR CONTROLES INCREMENTO */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

/* FIN OCULTAR CONTROLES INCREMENTO */

.hidden-caret .dropdown-toggle::after {
  display: none !important;
}



/* LOGIN */
/* Navbar ----------------------- */

.navbar {
  background-color: var(--white);
  padding: 11px 1rem;
  display: flex;
  align-items: center;
}

.navbar .navbar-brand {
  /* background-color: pink; */
  display: flex;
  align-items: center;
}

.navbar .navbar-brand img {
  height: 2rem;
}

.dropdown-toggle {
  /* background-color: var(--primary-light); */
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-toggle span {
  /* background-color: pink; */
  margin-left: .5rem;
}

.sidebar-menu {
  /* background-color: pink; */
  display: flex;
  align-items: center;
}

.sidebar-menu .button-icon {
  margin-right: .75rem;
}

/* Fin Navbar */

/* Wrap img login */
.wrap-img-login {
  background-color: var(--dark);
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  text-align: center;
  position: relative;
}

.wrap-img-login h2 {
  z-index: 1000;
  color: var(--white);
  font-size: 4em;
  animation-duration: 1.5s !important; /*tiempo que dura la animación*/
  animation-delay: 1.5s; /*tiempo de espera hasta que se produce la animación*/
  /*  animation-iteration-count: infinite;*/
}

.wrap-img-login h2 span {
  display: block;
  color: var(--primary);
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* Wrap img login */

/* Wrap form login */
.wrap-form-login {
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  text-align: center;
}

.form-login {
  /* background-color: var(--info-light); */
  width: 300px;
}

.form-login h1 {
  margin-bottom: 1.5rem;
}

.form-group {
 margin-bottom: 1rem;
 text-align: left;
}

.form-group label {
  color: var(--gray);
  margin-bottom: .25rem;
}

.form-control:focus {
  color: var(--dark);
  background-color: var(--white);
  outline: 0;
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.field-icon {
  background-color: var(--white);
  cursor: pointer;
  float: right;
  margin-left: -25px;
  margin-top: -26px;
  margin-right: 11.250px;
  position: relative;
  z-index: 2;
  color: var(--dark);
}

/* End Wrap form login */
/* END LOGIN */

.main-admin {
  background-color: salmon;
  padding-top: 64px;
}

/* Sidebar */
.sidebar-admin {
  background-color: var(--white);
  width: 250px;
  min-height: calc(100vh - 64px);
  position: fixed;
  left: 0;
  transition: all 150ms linear;
}

.sidebar-admin.active {
  left: -250px;
}

.sidebar-admin-list .btn {
  /* background-color: lightgreen; */
  width: 100%;
  text-align: left;
  padding-top: .5rem;
  border-radius: 0;
}

.sidebar-admin-list .btn:hover  {
  background-color: var(--gray-light);
}

.sidebar-admin-list .btn:focus  {
  background-color: var(--primary-light);
  box-shadow: none;
}

.active-item-sidebar {
  background-color: var(--primary-light);
}

.sidebar-admin-list {
  list-style: none;
  padding-left: 0;
}

.sidebar-list-collapse {
  background-color: var(--white);
  list-style: none;
  padding-left: 0;
}

.item-collapse {
  /* background-color: pink; */
  text-decoration: none;
  display: block;
  padding: .5rem .5rem .5rem 2rem;
  color: var(--dark-light);
  line-height: 1.5rem;
  border-radius: 0 !important;
}

.item-collapse:hover {
  background-color: var(--gray-light);
  color: var(--dark-light);
}

.item-collapse:focus {
  background-color: var(--primary-light);
}

.btn-icon-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* End Sidebar */

/* Main panel admin */
.admin-panel {
  background-color: var(--smoke-light);
  padding: 1rem;
  min-height: calc(100vh - 64px);
}

.ml-panel {
  margin-left: 250px;
  transition: all 150ms linear;
}

.ml-panel-0 {
  margin-left: 0px;
  transition: all 150ms linear;
}

.panel {
  display: none;
}

.active-panel {
  display: block;
}
/* end main panel admin */

.action-btns {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

/* TABLES */
.card-dtable {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: .25rem;
  box-shadow: 0px 4px 4px rgba(175, 177, 189, 0.25);
}

.card-dtable-header {
  /* background-color: lightgreen; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title-dtable {
  /* background-color: lavender; */
  font-size: 1.5rem;
  font-weight: 600;
}

.table thead {
  border-bottom: 1px solid var(--dark);
}

.table .body-table th {
  /* background-color: pink; */
  vertical-align: middle;
}

.table td {
  /* background-color: yellow; */
  vertical-align: middle;
}

/* Pagination color */
.page-item.active .page-link {
  z-index: 3;
  color: var(--dark);
  background-color: var(--primary);
  border-color: var(--primary);
}

.page-link:hover {
  z-index: 2;
  color: var(--gray);
  text-decoration: none;
  background-color: var(--white);
  border-color: var(--gray);
}

div.dataTables_wrapper div.dataTables_info {
  /* font-size: 14px; */
  color: var(--gray);
}

/* Fin pagination color */

/*     Pagination     */
.pagination>li>a, .pagination>li:first-child>a, .pagination>li:last-child>a, .pagination>li>span, .pagination>li:first-child>span, .pagination>li:last-child>span {
  border-radius: 100px !important;
  margin: 0 4px;
  color: var(--gray);
  border-color: var(--gray);
  min-width: 2.5rem;
  min-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination.pg-default>li.active>a, .pagination.pg-default>li.active:first-child>a, .pagination.pg-default>li.active:last-child>a, .pagination.pg-default>li.active>span, .pagination.pg-default>li.active:first-child>span, .pagination.pg-default>li.active:last-child>span {
  background: var(--white);
  border-color: var(--dark);
  color: var(--dark);
}

.pagination.pg-primary>li.active>a, .pagination.pg-primary>li.active:first-child>a, .pagination.pg-primary>li.active:last-child>a, .pagination.pg-primary>li.active>span, .pagination.pg-primary>li.active:first-child>span, .pagination.pg-primary>li.active:last-child>span {
  background: var(--primary);
  border-color: var(--dark);
  color: var(--dark);
}

.pagination.pg-info>li.active>a, .pagination.pg-info>li.active:first-child>a, .pagination.pg-info>li.active:last-child>a, .pagination.pg-info>li.active>span, .pagination.pg-info>li.active:first-child>span, .pagination.pg-info>li.active:last-child>span {
  background: var(--primary);
  border-color: var(--dark);
  color: var(--dark);
}

/*   fin  Pagination     */


/* End TABLES */

/* MODALS */
.modal-content {
  border-radius: .5rem;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
}
/* END MODALS */

/* TAGS */
.tag-status {
  text-transform: uppercase;
  font-weight: 500;
  padding: .25rem;
  border-radius: .25rem;
}

.tag-active {
  background-color: var(--info-light);
  color: var(--dark);
}

.tag-inactive {
  background-color: var(--gray-light);
  color: var(--dark);
}
/* EN TAGS */
